
html{

    scroll-behavior: auto!important;
}
body {
    font-family: "Helvetica";background-color: #373a3c;
    
}
h1{
    font-size:52px;
}

/* NavBar */
.navbar {
background-color: #1f9cc9!important;
position: fixed;
width:100vw;
z-index:2;
}
.navbar-brand {
font-family:"Oswald";
font-size:24px;
font-weight:700;

}
.img1{
width:50px;

}

section.container{
    padding:4rem 1 rem;
}
/* quienes somos*/


#quienes-somos i{
    color:#f2eff2; 
}

/* Destacados*/


#destacados img{
  
    height:110px;
    object-fit: cover;
    }
/* contacto*/


/* Footer */
#foot {
    background-color:#1f9cc9;
}

#foot a{
    color:white;
    text-decoration: none;
}


/* Modal*/
#ModalLabel{
    color:rgb(216, 238, 231);
    background-color: black;
}